body {
  background-color: white;
}
.product-feature {
  margin: 50px;
  text-align: center;
  color: rgb(41, 46, 44);
  font-size: 20;
}
.App {
  min-height: 100vh;
}
.main {
  flex: 1;
}
.top-menu{
background-color:rgb(241, 140, 103);
text-align: left;
height:60px;
padding-bottom:20px;
}
/* Rating */
.rating {
  display: flex;
  align-items: center;
  width: 100%;
}

.rating span {
  color: #ffb901;
  font-size: 0.9rem;
  margin: 0.1rem;
  display: flex;
  flex-direction: column;
}
.rating span:last-child {
  color: #444444;
  font-size: 0.2rem;
}
a > .rating > span:last-child {
  color: #0000ff;
}
h6 {
  color: #ffb901;
  font-weight: 500;
}
.card-bg {
  background-color: #f8f7a5;
  box-shadow: 10px 10px 8px #888888;
}
